body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #3f44e8;
    margin-top: 40px;
}

p {
    font-size: 20px;
    color: #444;
}
